* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    padding: 20px;
    text-align: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

main {
    padding: 10px;
    text-align: center;
}

a {
    color: #325ea8;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn a:visited {
    color: #fff;
}

.btn {
    background-color: #325ea8;
    color: #fff;
    border-radius: 5px;
    border: 0px solid #fff;
    padding: 8px;
}

.btn:hover {
    background-color: #32a2a8;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
}

/* #intro-text {
    display: none;
} */